:root {
    --orange: #e67e22;
    --black: #333;
    --light-color: #777;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

body {
    background-color: #e79795;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section {
    padding: 2rem 7%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--black);
    color: #fff;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--orange);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #020c1d;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 2.2rem 7%;
}

.header .logo {
    color: #fff;
    font-size: 3.5rem;
    margin-right: auto;
}

.header .logo span {
    color: #e79795;
}

.header .navbar a {
    color: var(--light-color);
    margin-right: 2rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons i {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    color: var(--black);
    background: #eee;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.header .icons i:hover {
    color: #fff;
    background: var(--orange);
}


.header .search-form.active {
    display: flex;
}

.header .search-form #search-box {
    width: 100%;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    height: 100%;
}

.header .search-form label {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: .5rem;
    cursor: pointer;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--orange);
}

#menu-bars {
    display: none;
}


.contact {
    background: url(../image/order.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
    width: 100vw;
    height: 100%;
}

.contact .content-table {
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.8);
    color: #131313;
    border-radius: .5rem;
    margin: 2rem auto;
    max-width: 130rem;
    padding: 1rem;
    font-size: 2em;
    min-width: 00px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.one tbody tr .text-one {
    color: #fff;
    background-color: #0c608d;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.9rem 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.one tbody tr .text-two {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    background: #eb4d4b;
    color: #fff;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffefec;

}

.footer .credit {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;

}

.footer .credit span {
    color: var(--orange);
}

.footer .follow {
    padding: 1rem 0;
}

.footer .follow a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--black);
    color: #fff;
    margin: 0 .1rem;
    text-align: center;
}

.footer .follow a:hover {
    background: var(--orange);
}

/* --------------------- */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pur_pro {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

.content-table thead tr {
    background-color: #184143;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #184143;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #012c23;
}














/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem;
    }

    section {
        padding: 2rem;
    }

    .container {
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px) {

    #menu-bars {
        display: inline-block;
    }

    .header .search-form {
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;
        display: none;
    }

    .header .navbar.active {
        display: block;
    }

    .header .navbar a {
        display: block;
        background: #f7f7f7;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        border: var(--border);
    }

    .container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .container .posts-container .post .image {
        height: 30rem;
        ;
    }

    .footer {
        flex-flow: column;
        text-align: center;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .contact form .inputBox input {
        width: 100%;
    }

}